.meditation {
  background-image: url(./img/meditation.jpg);
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
}
.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.message {
  max-width: ;
}
.message h2 {
  font-size: 1.5rem;
  color: antiquewhite;
}