.side-bar {
  flex: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}
.title-text h1 {
  font-size: 1.5rem;
}
.side-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}
.add-button {
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #08c;
}