.back-btn {
  margin-top: 55px;
  opacity: 0.8;
  transition: all 0.3s;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #999;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.2rem;
}
.back-btn:hover {
  transform: translateY(3px);
  opacity: 1;
}
.back-btn svg {
  height: 40px;
  width: 40px;
}
.back-btn-area {
  
}