.input-area {
  margin: 10px;
  cursor: pointer;
  width: 80%;
  border-radius: 10px;
}
.taskCardInput {
  width: 80%;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 4px 6px;
  font-size: 1.1rem;
}