.header {
  display: flex;
  align-items: center;
  background-color: rgb(55, 212, 212);
  height: 70px;
}

.header h1 {
  color: white;
}

.pages {
  display: flex;  
}
.pages a {
  margin-left: 25px;
  color: white;
  font-size: 1.25rem;
  transition: all 0.;
}
.pages a:hover {
  color: brown;
}